#Archivo de ejemplo template ejecutado desde ansible escrito en jinja2
#https://jinja.palletsprojects.com/en/3.0.x/


Nombre Grupo: {{ Nombre_Grupo }}
División: {{ numero_division }} 
Fecha: 11/11/2024
—-------------------------
Distribución: {{ ansible_facts.distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}
—-------------------------
R1: Nombre: Matias  Apellido: Redruello 
R2: Nombre: R2      Apellido: Arquitectura 
R3: Nombre: R3      Apellido: Automaizacion_1
R4: Nombre: R4      Apellido: Automatizacion_2
R5: Nombre: R5      Apellido: Miscroservicios
R6: Nombre: R6      Apellido: Testing

